In [1]:
# Загружаю необходимые библиотеки и модули для работы:
import psycopg2
import csv
import json
import sqlalchemy as db
import pandas as pd
import numpy as np
from sqlalchemy.types import *
from sqlalchemy import create_engine

In [2]:
# Создаю новый объект engine. 
# Движок базы данных используется для связи с базой данных SQL и выполнения операций, таких как запросы и изменение данных в базе данных.
engine = create_engine("postgresql+psycopg2://cnrprod-team-27512:geejohpaeXiewachooB4ohzaig3Voomu@rc1b-51my6ghf2y18to8j.mdb.yandexcloud.net:6432/cnrprod-team-27512?sslmode=require", connect_args={'sslmode':'require'})

In [ ]:
# Очищаем stage-таблицу:
conn = psycopg2.connect(host='rc1b-51my6ghf2y18to8j.mdb.yandexcloud.net', port=6432,  database='cnrprod-team-27512', user='cnrprod-team-27512', password='geejohpaeXiewachooB4ohzaig3Voomu')
trunc_query = 'truncate table stg.{tn}'.format(tn = table_name)
cursor = conn.cursor()
cursor.execute(trunc_query)
conn.commit()
conn.close()
print(f"[SUCCESS] Stage table are clear")

In [ ]:
# РУЧНАЯ ЗАГРУЗКА ДАННЫХ В STAGE-ТАБЛИЦУ БД ПО ПРИЛОЖЕННЫМ СКРИПТАМ ХАКАТОНА

# Блок для работы с дельтами SQL:
delta_id = 2022
table_name = 'users'
pk = 'uid'
query = 'select * from stg.{tn}'.format(tn=table_name)
df_delta = pd.read_sql(query, engine)
df_delta = df_delta.drop_duplicates()
print(df_delta)

In [251]:
# Блок для работы с дельтами CSV:
delta_id = 2022
table_name = 'user_skills'
pk = 'uid'
csv_path = "C:\\Users\\crimz\\Desktop\\hackaton_03.2023\\data\\{d_id}\\{tn}.csv".format(d_id = delta_id, tn = table_name)
df_delta = pd.read_csv(csv_path, delimiter=',', encoding='utf-8')
df_delta['name'] = df_delta['name'].str.strip()
df_delta = df_delta.drop_duplicates()
df_delta = df_delta.rename(columns={'UID': 'uid'})
df_delta.to_sql(name=table_name, schema = 'stg', con=engine, if_exists='replace', index=False, method='multi', chunksize=1000)
print(df_delta)

        uid  skill_id        name
0      6877       257  JavaScript
1      6911       257  JavaScript
2      6862       257  JavaScript
3      7380       257  JavaScript
4      7694       257  JavaScript
...     ...       ...         ...
6075  19987       518      Tomcat
6076  12635       520  Kubernetes
6077  20152       520  Kubernetes
6078  20205       520  Kubernetes
6079  20517       520  Kubernetes

[6080 rows x 3 columns]

In [113]:
# Блок для работы с дельтами JSON:
delta_id = 2022
table_name = 'test_results'
pk = 'uid'
json_path = "C:\\Users\\crimz\\Desktop\\hackaton_03.2023\\data\\{d_id}\\neoflex_prod_{d_id}.json".format(d_id = delta_id)
with open(json_path) as item:
    data = json.load(item)
df_delta = pd.json_normalize(data, record_path=['rounds', 'tasks'], meta=['UID', ['rounds', 'round_name']])
df_delta = df_delta[['UID', 'rounds.round_name', 'task_id', 'task_name', 'task_description', 'resulted']]
df_delta['task_description'] = df_delta['task_description'].str.strip()
df_delta = df_delta.drop_duplicates()
df_delta = df_delta.rename(columns={
    'UID': 'uid',
    'rounds.round_name': 'test_name',
    'task_id': 'question_id',
    'task_name': 'question_name',
    'task_description': 'question_description'
})
df_delta['uid'] = df_delta['uid'].replace('', pd.NA)
df_delta.to_sql(name=table_name, schema = 'stg', con=engine, if_exists='replace', index=False, method='multi', chunksize=1000)
print(df_delta)

         uid                         test_name  question_id  \
0       5080                        Java tests          200
1       5080                        Java tests          201
2       5080                        Java tests          202
3       5080                        Java tests          203
4       5080                        Java tests          204
...      ...                               ...          ...
65796  23525  Креативные идеи и новые продукты         2546
65799  23473  Креативные идеи и новые продукты         2546
65800  23357  Креативные идеи и новые продукты         2546
65803  23420  Улучшение существующего продукта         2547
65804  24131                          Задача 1         2424

                          question_name  \
0                              Вопрос 1
1                              Вопрос 2
2                              Вопрос 3
3                              Вопрос 4
4                              Вопрос 5
...                                 ...
65796  Креативные идеи и новые продукты
65799  Креативные идеи и новые продукты
65800  Креативные идеи и новые продукты
65803  Улучшение существующего продукта
65804                       AbsolutBank

                                    question_description  resulted
0      <p>In Java, which of the following methods are...       0.0
1      <p>In Java, which&nbsp;of the following method...       0.0
2      <p>In&nbsp;Java, which of the following is an ...       0.0
3      <p>In Java, which of the following interfaces ...       0.0
4      <p>In Java, which of the following methods is ...       0.0
...                                                  ...       ...
65796  <p>На хакатоне вам предстоит предстоит предлож...       NaN
65799  <p>На хакатоне вам предстоит предстоит предлож...       NaN
65800  <p>На хакатоне вам предстоит предстоит предлож...       NaN
65803  <p>На хакатоне вам предстоит предстоит предлож...       NaN
65804              <p>Основной бизнес Абсолют банка?</p>       0.0

[60776 rows x 6 columns]

In [114]:
# Создаю подключение к БД и делаю insert строки в таблицу логов дельт с информацией о начале работы с дельтой:
conn = psycopg2.connect(host='rc1b-51my6ghf2y18to8j.mdb.yandexcloud.net', port=6432,  database='cnrprod-team-27512', user='cnrprod-team-27512', password='geejohpaeXiewachooB4ohzaig3Voomu')
sql_query = "insert into logs.delta_logs values ({d_id}, current_timestamp, '[START] delta {d_id}', '{tn}', 'started');".format(d_id=delta_id, tn=table_name)
cursor = conn.cursor()
cursor.execute(sql_query)
conn.commit()
conn.close()

In [115]:
# Создаю датафрейм df_log:
df_log = pd.read_sql('select * from logs.delta_logs', engine)
print(df_log)

    delta_id                  date_time  \
0       2020 2023-03-04 19:16:17.386789
1       2020 2023-03-04 19:56:31.793408
2       2020 2023-03-04 20:08:05.586288
3       2020 2023-03-04 20:13:35.101601
4       2020 2023-03-04 20:16:25.705267
5       2020 2023-03-04 20:18:31.190529
6       2021 2023-03-04 20:22:24.623346
7       2021 2023-03-04 20:22:41.720009
8       2021 2023-03-04 20:47:40.273789
9       2022 2023-03-04 20:48:02.499569
10      2022 2023-03-04 20:48:26.333651
11      2020 2023-03-04 21:01:34.398666
12      2020 2023-03-04 21:01:50.103733
13      2020 2023-03-04 21:03:19.313037
14      2020 2023-03-04 21:07:37.444405
15      2020 2023-03-04 21:12:07.069322
16      2021 2023-03-04 21:16:07.461477
17      2021 2023-03-04 21:16:27.815386
18      2022 2023-03-04 21:26:48.573672
19      2022 2023-03-04 21:27:23.995072
20      2020 2023-03-04 21:32:01.366012
21      2020 2023-03-04 21:32:27.979226
22      2021 2023-03-04 21:34:06.501079
23      2021 2023-03-04 21:34:20.777107
24      2022 2023-03-04 21:36:25.680897
25      2022 2023-03-04 21:36:41.934822
26      2020 2023-03-04 21:39:56.109518
27      2020 2023-03-04 22:06:28.762066
28      2021 2023-03-04 22:08:14.979364
29      2021 2023-03-04 22:08:45.761362
30      2022 2023-03-04 22:11:37.846251
31      2022 2023-03-04 22:11:59.885506
32      2020 2023-03-05 00:20:10.679037
33      2020 2023-03-05 00:23:10.647200
34      2021 2023-03-05 00:25:46.313963
35      2021 2023-03-05 00:26:00.733004
36      2022 2023-03-05 00:26:52.859200
37      2022 2023-03-05 00:27:06.927995
38      2020 2023-03-05 00:35:00.812401
39      2020 2023-03-05 00:40:33.064945
40      2021 2023-03-05 00:41:08.251578
41      2021 2023-03-05 01:25:46.918202
42      2021 2023-03-05 02:04:06.829415
43      2021 2023-03-05 02:07:43.750523
44      2022 2023-03-05 02:11:12.452068

                                              message    table_name    status
0                                  [START] delta 2020      user_tag   started
1                                  [START] delta 2020      user_tag   started
2                                  [START] delta 2020      user_tag   started
3                                  [START] delta 2020      user_tag   started
4                                    [END] delta 2020      user_tag  finished
5   [NOTICE] delta 2020 was already processed befo...      user_tag  canceled
6                                  [START] delta 2021      user_tag   started
7                                    [END] delta 2021      user_tag  finished
8                                  [START] delta 2021      user_tag   started
9                                  [START] delta 2022      user_tag   started
10                                   [END] delta 2022      user_tag  finished
11                                 [START] delta 2020  contest_user   started
12  [NOTICE] delta 2020 was already processed befo...  contest_user  canceled
13  [NOTICE] delta 2020 was already processed befo...  contest_user  canceled
14  [NOTICE] delta 2020 was already processed befo...  contest_user  canceled
15                                   [END] delta 2020  contest_user  finished
16                                 [START] delta 2021  contest_user   started
17                                   [END] delta 2021  contest_user  finished
18                                 [START] delta 2022  contest_user   started
19                                   [END] delta 2022  contest_user  finished
20                                 [START] delta 2020   contest_tag   started
21                                   [END] delta 2020   contest_tag  finished
22                                 [START] delta 2021   contest_tag   started
23                                   [END] delta 2021   contest_tag  finished
24                                 [START] delta 2022   contest_tag   started
25                                   [END] delta 2022   contest_tag  finished
26                                 [START] delta 2020         users   started
27                                   [END] delta 2020         users  finished
28                                 [START] delta 2021         users   started
29                                   [END] delta 2021         users  finished
30                                 [START] delta 2022         users   started
31                                   [END] delta 2022         users  finished
32                                 [START] delta 2020   user_skills   started
33                                   [END] delta 2020   user_skills  finished
34                                 [START] delta 2021   user_skills   started
35                                   [END] delta 2021   user_skills  finished
36                                 [START] delta 2022   user_skills   started
37                                   [END] delta 2022   user_skills  finished
38                                 [START] delta 2020  test_results   started
39                                   [END] delta 2020  test_results  finished
40                                 [START] delta 2021  test_results   started
41                                 [START] delta 2021  test_results   started
42                                 [START] delta 2021  test_results   started
43                                   [END] delta 2021  test_results  finished
44                                 [START] delta 2022  test_results   started

In [ ]:
# Создаю датафрейм df_mirr:
query_2 = 'select * from stg.{tn}'.format(tn=table_name)
df_mirr = pd.read_sql(query_2, engine)
print(df_mirr.info())

In [189]:
# Скрипт для унификации процесса работы с дельтами:
# 1. Присваиваю значение объекту columns_num = количеству атрибутов зеркала;
# 2. Создаю цикл после отработки которого имею n объектов типа col#,
# где n - кол-во атрибутов зеркала, # - порядковый номер атриубута,
# с присвоенными значениями = названиям атрибутов зеркала (н-р col1 = uid);
# 3. Вывожу сообщение скольким объектам присвоились значения.
columns_num = len(df_mirr.columns)
for i, column_name in enumerate(df_mirr.columns):
    if i == columns_num:
        break
    exec(f'col{i + 1} = "{column_name}"')
print("You have", columns_num, "columns for the next script")

In [118]:
# Создаю датафрейм df_filtered, где будут данные, если условие выполняется (это будет необходимо для следующего скрипта):
query_3 = "select * from logs.delta_logs where (delta_id = {delta_id} and table_name = '{tn}' and status = 'finished')".format(delta_id=delta_id, tn=table_name)
df_filtered = pd.read_sql(query_3, engine)
print(df_filtered.info())

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   delta_id    0 non-null      object
 1   date_time   0 non-null      object
 2   message     0 non-null      object
 3   table_name  0 non-null      object
 4   status      0 non-null      object
dtypes: object(5)
memory usage: 0.0+ bytes
None

In [ ]:
# Скрипт для обновления зеркала по актуальным данным дельты:
# Если для данного delta_id и table_name в столбце status значение finished, то в таблицу логов дельт добавится строка с сообщением, что такая дельта уже была обработана ранее.
# В ином случае, будет выполнен sql-запрос на full join дельты и текущего зеркала по первичному ключу, результирующая таблица будет сохранена во временную таблицу с суффиксом 'temp_', неактуаьные данные из зеркала будут удалены,
# актуальные данные будут перенесены в зеркало, временная таблица будет удалена.

In [119]:
# Условие if выполняется, когда датафрейм df_filtered не пустой, что означает, что такая дельта уже ранее обрабатывалась
if  not df_filtered.empty:
    conn = psycopg2.connect(host='rc1b-51my6ghf2y18to8j.mdb.yandexcloud.net', port=6432,  database='cnrprod-team-27512', user='cnrprod-team-27512', password='geejohpaeXiewachooB4ohzaig3Voomu')
    sql_query = "insert into logs.delta_logs values ({d_id}, current_timestamp, '[NOTICE] delta {d_id} was already processed before or data is not valid anymore', '{tn}', 'canceled');".format(d_id=delta_id, tn=table_name)
    cursor = conn.cursor()
    cursor.execute(sql_query)
    conn.commit()
    conn.close()
    log_msg = f"[NOTICE] delta {delta_id} was already processed before or data is not valid anymore"
    print(log_msg)

else:
    column_names = df_mirr.columns
    n = len(column_names)
    cols_str = ''
    for i in range(n):
        cn = column_names[i]
        if i == 0:
            cols_str += f"coalesce(s.{cn}, t.{cn}) as {cn}"
        else:
            cols_str += f", coalesce(s.{cn}, t.{cn}) as {cn}"
    df2 = pd.read_sql('select {cols} from stg.{tn} s full join ds.{tn} t on s.{pk} = t.{pk};'.format(tn = table_name, pk = pk, cols = cols_str), engine)
    df2 = df2.drop_duplicates()
    df2.to_sql(name='temp_' + table_name, schema = 'ds', con=engine, if_exists='replace', index=False, method='multi', chunksize=1000) #, dtype={"is_varified": Integer(), "last_visit": DateTime()}
    conn = psycopg2.connect(host='rc1b-51my6ghf2y18to8j.mdb.yandexcloud.net', port=6432,  database='cnrprod-team-27512', user='cnrprod-team-27512', password='geejohpaeXiewachooB4ohzaig3Voomu')
    trunc_query = 'truncate table ds.{tn}'.format(tn = table_name)
    insert_query = 'insert into ds.{tn} select * from ds.temp_{tn}'.format(tn = table_name)
    drop_query = 'drop table ds.{tmp}'.format(tmp = 'temp_' + table_name)
    cursor = conn.cursor()
    cursor.execute(trunc_query)
    cursor.execute(insert_query)
    cursor.execute(drop_query)
    conn.commit()
    conn.close()
print(f"[SUCCESS] Mirror {table_name} update is finished")

[SUCCESS] Mirror test_results update is finished

In [120]:
# Создаю подключение к БД и делаю insert строки в таблицу логов дельт с информацией о завершении работы с дельтой:
conn = psycopg2.connect(host='rc1b-51my6ghf2y18to8j.mdb.yandexcloud.net', port=6432,  database='cnrprod-team-27512', user='cnrprod-team-27512', password='geejohpaeXiewachooB4ohzaig3Voomu')
sql_query = "insert into logs.delta_logs values ({d_id}, current_timestamp, '[END] delta {d_id}', '{tn}', 'finished');".format(d_id=delta_id, tn=table_name)
cursor = conn.cursor()
cursor.execute(sql_query)
conn.commit()
conn.close()

In [121]:
# Проверка таблицы логов дельт:
df_log = pd.read_sql('select * from logs.delta_logs', engine)
print(df_log)

    delta_id                  date_time  \
0       2020 2023-03-04 19:16:17.386789
1       2020 2023-03-04 19:56:31.793408
2       2020 2023-03-04 20:08:05.586288
3       2020 2023-03-04 20:13:35.101601
4       2020 2023-03-04 20:16:25.705267
5       2020 2023-03-04 20:18:31.190529
6       2021 2023-03-04 20:22:24.623346
7       2021 2023-03-04 20:22:41.720009
8       2021 2023-03-04 20:47:40.273789
9       2022 2023-03-04 20:48:02.499569
10      2022 2023-03-04 20:48:26.333651
11      2020 2023-03-04 21:01:34.398666
12      2020 2023-03-04 21:01:50.103733
13      2020 2023-03-04 21:03:19.313037
14      2020 2023-03-04 21:07:37.444405
15      2020 2023-03-04 21:12:07.069322
16      2021 2023-03-04 21:16:07.461477
17      2021 2023-03-04 21:16:27.815386
18      2022 2023-03-04 21:26:48.573672
19      2022 2023-03-04 21:27:23.995072
20      2020 2023-03-04 21:32:01.366012
21      2020 2023-03-04 21:32:27.979226
22      2021 2023-03-04 21:34:06.501079
23      2021 2023-03-04 21:34:20.777107
24      2022 2023-03-04 21:36:25.680897
25      2022 2023-03-04 21:36:41.934822
26      2020 2023-03-04 21:39:56.109518
27      2020 2023-03-04 22:06:28.762066
28      2021 2023-03-04 22:08:14.979364
29      2021 2023-03-04 22:08:45.761362
30      2022 2023-03-04 22:11:37.846251
31      2022 2023-03-04 22:11:59.885506
32      2020 2023-03-05 00:20:10.679037
33      2020 2023-03-05 00:23:10.647200
34      2021 2023-03-05 00:25:46.313963
35      2021 2023-03-05 00:26:00.733004
36      2022 2023-03-05 00:26:52.859200
37      2022 2023-03-05 00:27:06.927995
38      2020 2023-03-05 00:35:00.812401
39      2020 2023-03-05 00:40:33.064945
40      2021 2023-03-05 00:41:08.251578
41      2021 2023-03-05 01:25:46.918202
42      2021 2023-03-05 02:04:06.829415
43      2021 2023-03-05 02:07:43.750523
44      2022 2023-03-05 02:11:12.452068
45      2022 2023-03-05 02:13:00.624335

                                              message    table_name    status
0                                  [START] delta 2020      user_tag   started
1                                  [START] delta 2020      user_tag   started
2                                  [START] delta 2020      user_tag   started
3                                  [START] delta 2020      user_tag   started
4                                    [END] delta 2020      user_tag  finished
5   [NOTICE] delta 2020 was already processed befo...      user_tag  canceled
6                                  [START] delta 2021      user_tag   started
7                                    [END] delta 2021      user_tag  finished
8                                  [START] delta 2021      user_tag   started
9                                  [START] delta 2022      user_tag   started
10                                   [END] delta 2022      user_tag  finished
11                                 [START] delta 2020  contest_user   started
12  [NOTICE] delta 2020 was already processed befo...  contest_user  canceled
13  [NOTICE] delta 2020 was already processed befo...  contest_user  canceled
14  [NOTICE] delta 2020 was already processed befo...  contest_user  canceled
15                                   [END] delta 2020  contest_user  finished
16                                 [START] delta 2021  contest_user   started
17                                   [END] delta 2021  contest_user  finished
18                                 [START] delta 2022  contest_user   started
19                                   [END] delta 2022  contest_user  finished
20                                 [START] delta 2020   contest_tag   started
21                                   [END] delta 2020   contest_tag  finished
22                                 [START] delta 2021   contest_tag   started
23                                   [END] delta 2021   contest_tag  finished
24                                 [START] delta 2022   contest_tag   started
25                                   [END] delta 2022   contest_tag  finished
26                                 [START] delta 2020         users   started
27                                   [END] delta 2020         users  finished
28                                 [START] delta 2021         users   started
29                                   [END] delta 2021         users  finished
30                                 [START] delta 2022         users   started
31                                   [END] delta 2022         users  finished
32                                 [START] delta 2020   user_skills   started
33                                   [END] delta 2020   user_skills  finished
34                                 [START] delta 2021   user_skills   started
35                                   [END] delta 2021   user_skills  finished
36                                 [START] delta 2022   user_skills   started
37                                   [END] delta 2022   user_skills  finished
38                                 [START] delta 2020  test_results   started
39                                   [END] delta 2020  test_results  finished
40                                 [START] delta 2021  test_results   started
41                                 [START] delta 2021  test_results   started
42                                 [START] delta 2021  test_results   started
43                                   [END] delta 2021  test_results  finished
44                                 [START] delta 2022  test_results   started
45                                   [END] delta 2022  test_results  finished